body{
	width:100%;

}
.bodyLayout{
	background-color: rgb(225, 225, 209);
	width:20%;	


}
.mainHeading, .output{
	text-align: center;
}
.output{
	color:red;
}

.bodyContainer{
	display:block;
	width:100%;
}

.seasonContainer{
	padding-top:15px;

}
#seasonList, .buttonContainer, #saveButton, .bodyLayout, .output{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.buttonContainer{
	padding-top:15px;
	padding-bottom: 15px;

}
#episodeList{
	margin-left:30px;
}
label{
	margin-left:5px;
	margin-right:5px;
}